* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  font-size: 62.5%;
  --bg-primary: #535971;
  --bg-secondary: #EFEFEF;
  --btn-primary: #FF5374;

  --fc-primary: #FFF;
  --fc-secondary: #C1BCCC;


  --ff-primary: 'Staatliches', cursive;
  --ff-secondary: 'Poppins', sans-serif;

  --fw-regular: 400;
}


body, input, select, textarea , button {
  font-family: var(--ff-primary);
}


body{
  font-family: var(--ff-primary);
  font-weight: var(--fw-regular);
  color: var(--bg-primary);
  background: var(--bg-secondary);

}

body::before {
  content: '';
  width: 100%;
  height: 43.6rem;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color:  var(--bg-primary);
}

.page 
 {
  width: 73.6rem;
  margin: auto;
}

header {
  padding: 0;
  width: 100%;
  height: 27rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  background: var(--bg-primary);
  color: var(--fc-primary);
}

header h1 {
  position: relative;
  font-family: var(--ff-primary);
  font-style: normal;
  font-weight: bold;
  font-size: 4.8rem;
  line-height: 6rem;
  color: #FFF;
  margin-bottom: 1.8rem;

}

header p {
  font-family: var(--ff-secondary);
  font-size: 2rem;
  line-height: 3rem;
}


form {
  margin-top: 3.22rem;
  background: var(--fc-primary);

  border-radius: 8px 8px 0 0;
  padding: 6.4rem;
  
  display: flex;
  flex-direction: column;
  gap: 48px;

}

fieldset {
  border: none;  
}

.fieldset-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;

}


fieldset legend {
  
  font-size: 2.4rem;
  line-height: 3.4rem;

  width: 100%;
  border-bottom: 1px solid #E6E6F0;
  padding-bottom: 1.6rem;

}

.sub-legend {
  font-size: 2rem;
  line-height: 3.4rem;

  width: 100%;
}

.input-wrapper{
  display: flex;
  flex-direction: column;
}
.col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.col-3 {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 2rem;

}

.col-2 .input-wrapper,
.col-3 .input-wrapper{
  display: grid;
}



.input-wrapper label {
  font-family: var(--ff-secondary);
  font-size: 1.4rem;
  line-height: 2.4rem;
}

.input-wrapper label span {
  margin-left: 1.2rem;

  font-size: 1.2rem;
  line-height: 2rem;

  color: var(--fc-secondary);
}

.input-wrapper label span:hover {

  color: var(--bg-primary);
}

.input-wrapper input , 
.input-wrapper textarea,
.input-wrapper select{
  background: #FAFAFC;
  
  border: 1px solid #E6E6F0;
  border-radius: 8px;

  height: 5.6rem;

  padding: 0 2.4rem;

  font-size: 1.6rem;
  line-height: 2.6rem;

  color: #59565f;

}

footer {
  background: var(--bg-primary);
  height: 13.6rem;
  display: flex;
  flex-direction: column;

  padding: 4rem 6.4rem;

  margin-bottom: 10rem;
  border-top: 1px solid #D6D6D6;
  border-radius: 0 0 8px 8px;
}

footer button {
  height: 56px;
  background: var(--btn-primary);
  border: 0;
  border-radius: 2rem;


  font-size: 2rem;
  line-height: 2.6rem;
  color: #FFF;
  cursor: pointer;

  text-transform: uppercase;


}

footer .button:hover {
  background: #83caa2;
}

input:invalid {
  border: 1px solid #FF1010;
}
